<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GolfCourseAPIKey</key>
	<string>IXUJAYAEVORVW2Z4M24EAE3H4U</string>
	<key>SupabaseAnonKey</key>
	<string>sb_publishable_Qk0gdBkqnTb2PV2bEfW-3A_COWs5lOU</string>
	<key>SupabaseURL</key>
	<string>https://aoxturoezgecwceudeef.supabase.co</string>
</dict>
</plist>
